################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OrderManagementSystemTest/CopilotIndices/17.14.734.62261
/OrderService.Worker/bin/Debug/net8.0/OrderService.Worker.dll
/OrderService.Worker/bin/Debug/net8.0/OrderService.Worker.exe
/OrderService.Worker/bin/Debug/net8.0/OrderService.Worker.pdb
/.gitignore
/.vs/OrderManagementSystemTest/FileContentIndex
/OrderService.Api/obj/Debug/net8.0/OrderService.Api.sourcelink.json
/OrderService.Worker/obj/Debug/net8.0/OrderService.Worker.sourcelink.json
/.vs/OrderManagementSystemTest/v17/.suo
/.vs/OrderManagementSystemTest/v17/DocumentLayout.backup.json
/.vs/OrderManagementSystemTest/v17/DocumentLayout.json
/OrderService.Worker/obj/Debug/net8.0
/OrderService.Worker/obj/OrderService.Worker.csproj.nuget.dgspec.json
/OrderService.Worker/obj/OrderService.Worker.csproj.nuget.g.props
/OrderService.Worker/obj/OrderService.Worker.csproj.nuget.g.targets
/OrderService.Worker/obj/project.assets.json
/OrderService.Worker/obj/project.nuget.cache
/OrderService.Worker/bin/Debug/net8.0/cs
/OrderService.Worker/bin/Debug/net8.0/de
/OrderService.Worker/bin/Debug/net8.0/es
/OrderService.Worker/bin/Debug/net8.0/fr
/OrderService.Worker/bin/Debug/net8.0/it
/OrderService.Worker/bin/Debug/net8.0/ja
/OrderService.Worker/bin/Debug/net8.0/ko
/OrderService.Worker/bin/Debug/net8.0/pl
/OrderService.Worker/bin/Debug/net8.0/pt-BR
/OrderService.Worker/bin/Debug/net8.0/ru
/OrderService.Worker/bin/Debug/net8.0
